.mainUpdate{
    display: flex;
    flex-direction: row;
}

.subUpdateOne{
    width: 50%;
}

.subUpdateTwo{
    width: 50%;
}

.addForm{
    width: 60%;
    margin: auto 40% 0;
    text-align: center;
}

.editForm > h1{

    margin-top: 10%;
    margin-bottom: 75px;
}